<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/img/icon.svg" type="image/x-icon">
    <title>Aluno - Perfil</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body id="topo">
    <div class="wrapper">
        <div id="sidebar-wrapper" class="d-flex expand">
            <aside id="sidebar" class="expand shadow-lg">
                <div class="sidebar-logo-container">
                    <button class="toggle-btn sidebar-link" type="button">
                        <img src="/static/img/DipePreta.svg" width="24px" alt="DIPE" class="sidebar-logo-icon">
                        <span class="f-exo fs-6 fw-black">DIPE</span>
                    </button>
                </div>
                <ul class="sidebar-nav">
                    <li class="sidebar-item">
                        <a href="/perfil" class="sidebar-link {% if request.url.path == '/perfil' %}active{% endif %}">
                            <i class="bi bi-house-door-fill"></i>
                            <span>Início</span>
                        </a>
                    </li>
                    <li class="sidebar-item mt-3">
                        <a href="/aluno/dados"
                            class="sidebar-link {% if request.url.path == '/aluno/dados' %}active{% endif %}">
                            <i class="bi bi-person-fill"></i>
                            <span>Dados Pessoais</span>
                        </a>
                    </li>
                    <li class="sidebar-item mt-3">
                        <a href="/aluno/turmas"
                            class="sidebar-link {% if request.url.path == '/aluno/turmas' or request.url.path.startswith('/aluno/turmas/') %}active{% endif %}">
                            <i class="bi bi-people-fill"></i>
                            <span>Minhas Turmas</span>
                        </a>
                    </li>
                    <li class="sidebar-item mt-3">
                        <a href="/aluno/provas"
                            class="sidebar-link {% if request.url.path == '/aluno/provas' or request.url.path.startswith('/aluno/provas/') %}active{% endif %}">
                            <i class="bi bi-file-earmark-text-fill"></i>
                            <span>Provas das Turmas</span>
                        </a>
                    </li>
                    <li class="sidebar-item mt-3">
                        <a href="/aluno/formularios"
                            class="sidebar-link {% if request.url.path == '/formularios' or request.url.path.startswith('/formularios/') %}active{% endif %}">
                            <i class="bi bi-clipboard2-fill"></i>
                            <span>Formulários</span>
                        </a>
                    </li>
                    <!-- Botão Sair -->
                    <div class="sidebar-item mt-3">
                        <form action="/sair" method="post" style="display: inline;">
                            <button type="submit" class="sidebar-link w-100 text-start">
                                <i class="bi bi-door-open-fill"></i>
                                <span class="fw-bold">Sair</span>
                            </button>
                        </form>
                    </div>
                </ul>
                <div class="sidebar-footer">
                    <a href="#topo" class="sidebar-link">
                        <i class="bi bi-arrow-up"></i>
                        <span>Voltar ao topo</span>
                    </a>
                </div>
            </aside>

            <div id="toggle-bar" class="d-flex align-items-center justify-content-center shadow-lg bg-gradiente cursor-pointer">
                <i class="bi bi-chevron-right toggle-icon c-black"></i>
            </div>
        </div>
        <div class="main p-4 bg-pattern">
            <div class="row px-2">
                <div class="col-8 d-flex bg-secundaria rounded-4 borda">
                    <div class="d-flex flex-column justify-content-center">
                        <h4 class="fs-4 f-libre">Bem-vindo(a) {{ nome.split(' ')[0] }},</h4>
                        <p class="fs-6 m-0">Sua jornada de aprendizado começa aqui.
                            Estamos prontos para ajudar você a
                            alcançar grandes conquistas!</p>
                    </div>
                    <div>
                        <img src="static/img/welcome.svg" alt="" class="h-100">
                    </div>
                </div>
                <div class="col-4">
                    <div class="borda rounded-3 bg-branco h-100">
                        <div class="bg-padrao rounded-3 p-2 px-3 rounded-bottom-0">
                            <h6 class="m-0 text-light fw-semi">Seu Perfil</h6>
                        </div>

                        <div class="px-3 mt-2 d-flex flex-wrap">
                            <img src="{{ imagem or '/static/img/user.jpg' }}" alt="" width="60px"
                                class="rounded-circle">
                            <div class="ms-1 h-100 align-self-center">
                                <strong>{{ nome }}</strong><br>
                                <small><i class="bi bi-mortarboard-fill c-padrao me-1"></i> {{ curso }}</small>
                            </div>

                            <div class="d-flex justify-content-around w-100 my-2">
                                <div class="text-center">
                                    <p class="m-0">Idade:</p>
                                    <strong>{{ idade }} anos</strong>
                                </div>
                                <div class="text-center">
                                    <p class="m-0">Município</p>
                                    <strong>{{ municipio }}</strong>
                                </div>
                                <div class="text-center">
                                    <p class="m-0">Ano:</p>
                                    <strong>{{ ano }} ano</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row px-2">
                <div class="col-8 rounded-4 mt-2 p-0">
                    <div class="my-2 d-flex align-items-center justify-content-between">
                        <h5 class="fw-bold wrapper">Provas das Minhas Turmas:</h5>
                        <a href="/aluno/provas" class="btn btn-black btn-sm text-light">
                            <i class="bi bi-eye c-padrao"></i> Ver Todas
                        </a>
                    </div>

                    {% if materias %}
                    <!-- Container com os cards das matérias -->
                    <div class="menu-resultados d-flex justify-content-between w-100 gap-3">
                        {% for materia in materias %}
                        <div class="bg-branco borda rounded-4 py-2 flex-grow-1">
                            <!-- Cabeçalho com nome da matéria -->
                            <div class="d-flex justify-content-center">
                                <h6 class="fw-bold m-0 c-{{ materia.nome.lower() }} mb-2">{{ materia.nome }}</h6>
                            </div>

                            <hr class="hr m-0">

                            <!-- Informações da turma -->
                            <!-- <div class="text-center">
                                <div class="text-muted w-100 d-flex justify-content-center gap-3">
                                    <small><i class="bi bi-people"></i> {{ materia.turma }}<br></small>
                                    <small><i class="bi bi-person"></i> {{ materia.professor }}</small>
                                </div>
                            </div> -->

                            <!-- Conteúdo principal do card -->
                            {% if materia.prova_disponivel %}
                            {% if materia.nota is not none %}
                            <!-- Se já respondeu a prova -->
                            <a href="{{ materia.url_prova }}"
                                class="d-flex w-100 justify-content-center gap-5 mt-2 text-decoration-none text-dark">
                                <div class="d-flex flex-column justify-content-center">
                                    <p class="fs-6 m-0 fw-semi">Nota:</p>
                                    <p class="m-0 fs-6 fw-light">{{ materia.status }}</p>
                                </div>
                                <div class="d-flex flex-column justify-content-center">
                                    <h1 class="m-0 fw-bolder c-{{ materia.nome.lower() }}">{{
                                        "%.1f"|format(materia.nota) }}</h1>
                                </div>
                            </a>
                            {% else %}
                            <!-- Prova disponível mas ainda não respondida -->
                            <div class="d-flex justify-content-center gap-5 align-items-center text-center">
                                <p class="m-0 fs-6 fw-light">{{ materia.status }}:</p>
                                <a href="{{ materia.url_prova }}" class="btn btn-padrao text-light rounded-4 mt-2">
                                    <i class="bi bi-play-fill"></i> Fazer Prova
                                </a>
                            </div>
                            {% endif %}
                            {% else %}
                            <!-- Prova não está disponível -->
                            <div class="d-flex align-items-center justify-content-center">
                                <p class="m-0 fs-6 fw-light">Prova não disponível</p>
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    {% else %}
                    <!-- Mensagem quando não há provas -->
                    <div class="bg-branco borda rounded-4 py-5 text-center">
                        <i class="bi bi-file-earmark-text display-3 c-padrao"></i>
                        <h4 class="text-muted mt-3">Nenhuma prova disponível</h4>
                        <p class="text-muted">Você não está matriculado em nenhuma turma ou não há provas disponíveis.
                        </p>
                        <a href="/aluno/turmas" class="btn btn-black text-light mt-2">
                            <i class="bi bi-people c-padrao"></i> Ver Minhas Turmas
                        </a>
                    </div>
                    {% endif %}


                    <!-- Gráficos de desempenho -->
                    <div class="d-flex justify-content-between w-100 mt-2">
                        <div class="bg-branco borda rounded-4 col-50 p-3">
                            <h6 class="m-0 fw-semi">Porcentagem Total</h6>
                            <div class="d-flex align-items-center justify-content-between px-3">
                                <canvas id="graficoPizza" width="200" height="200"></canvas>
                            </div>
                        </div>
                        <div class="bg-branco borda rounded-4 col-50 p-3">
                            <h6 class="m-0 fw-semi">Comparação de Médias</h6>
                            <div class="d-flex align-items-center justify-content-between px-3">
                                <canvas id="graficoBarra" width="200" height="200"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-4 mt-2">
                    <div class="borda rounded-3 bg-branco h-100">
                        <div
                            class="bg-padrao rounded-3 p-2 px-3 d-flex justify-content-between align-self-center rounded-bottom-0">
                            <h6 class="m-0 text-light h-100 align-self-center fw-semi">Notificações</h6>
                        </div>

                        <div class="px-3 py-2">
                            <div class="d-flex">
                                <span
                                    class="bg-padrao f-dipe text-light rounded-1 align-self-center d-inline-flex justify-content-center align-items-center p-2"
                                    style="width: 20px; height: 20px; font-size: 14px;">{{ notificacoes|length }}</span>
                                <p class="fs-6 m-0 h-100 align-self-center ms-2">Formulários</p>
                            </div>
                            {% if notificacoes %}
                            {% for notificacao in notificacoes %}
                            <a href="{{ notificacao.link }}"
                                class="d-flex mt-2 justify-content-between bg-cinza rounded-3">
                                <div class="ps-2 py-2">
                                    <p class="m-0 fs-6 fw-bold">{{ notificacao.titulo }}</p>
                                    <!-- {% if notificacao.mensagem %}
                                    <p class="m-0 fs-7 text-muted">{{ notificacao.mensagem }}</p>
                                    {% endif %} -->
                                </div>
                                <button class="btn btn-padrao rounded-0 rounded-end-3">
                                    <i class="bi bi-chevron-right text-light"></i>
                                </button>
                            </a>
                            {% endfor %}
                            {% else %}
                            <p class="fs-6 ps-2 py-2">Nenhuma notificação nova.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="static/js/menu.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        // Dados dos gráficos
        const dadosPizza = JSON.parse('{{ dados_grafico_pizza | tojson | safe }}');
        const dadosBarra = JSON.parse('{{ dados_grafico_barra | tojson | safe }}');

        const maxChartValue = JSON.parse('{{ maxChartValue | tojson | safe }}');

        // Gráfico de Pizza
        new Chart(document.getElementById('graficoPizza'), {
            type: 'doughnut',
            data: {
                labels: dadosPizza.labels,
                datasets: [{
                    data: dadosPizza.data,
                    backgroundColor: dadosPizza.cores,
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: true,
                plugins: {
                    legend: {
                        position: 'right'
                    }
                }
            }
        });

        // Gráfico de Barra Horizontal
        new Chart(document.getElementById('graficoBarra'), {
            type: 'bar',
            data: {
                labels: dadosBarra.labels,
                datasets: dadosBarra.datasets
            },
            options: {
                indexAxis: 'y',
                responsive: true,
                maintainAspectRatio: true,
                plugins: {
                    legend: {
                        position: 'top'
                    }
                },
                scales: {
                    x: {
                        beginAtZero: true,
                        max: maxChartValue,
                        title: {
                            display: true,
                            text: 'Nota'
                        }
                    }
                }
            }
        });
    </script>
</body>

</html>