services:
  app:
    build: .
    restart: always
    ports:
      - "8080:8080"

    environment:
      DATABASE_URL: mysql+pymysql://user:password@db:3306/dipe

    volumes:
      - .:/app  # Mapeia toda a raiz do projeto para /app no container
    # - /home/dipe/DIPEFast/templates/static:/app/templates/static

    depends_on:
      db:
        condition: service_healthy

  db:
    image: mysql:8.0
    restart: always
    ports:
      - "3307:3306"

    environment:
      MYSQL_ROOT_PASSWORD: root_password
      MYSQL_DATABASE: dipe
      MYSQL_USER: user
      MYSQL_PASSWORD: password

    volumes:
      - db_data:/var/lib/mysql

    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10
      start_period: 10s

volumes:
  db_data:
